<section id="about-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-responsive" src="assets/images/phone-1052023_640.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <h3>
          ABOUT PATHFINER <br>
          <small class="text-muted">Founded: February 9, 2018 </small>
        </h3>
        <hr>
        <p class="lead">Pathfinder is a Christian BookClub for those who are willing to find the true path that Christ walked and walk the same path as they live their daily lives.</p>
        <p class="lead">
          We meet once a month to discuss a book by a Christian author. Our discussions are based on biblical principles.
        </p>
        <p class="lead">
          Our motto: <span class="text-danger"> &quot;Our experience has proven these things to be true, so listen and learn.&quot; - Job 5:27 </span>
        </p>
      </div>
    </div>
  </div>
</section>
