<section id="jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-1">
          <blockquote class="blockquote">
            <h2>&quot;Our experience has proven these things to be true, so listen and learn.&quot;</h2>
            <footer class="blockquote-footer">Job 5.27 <cite title="Source Title">(Contemporary English Version) </cite></footer>
          </blockquote>
        </div>
        <div class="col-sm-5">
          <img class="img-thumbnail" src="assets/images/book-912726_1920.jpg" alt="Open Book">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h3>WHO WE ARE</h3>
        <p class="lead">Pathfinder is a Christian BookClub for anyone who is willing to find the true path that Christ walked and walk the same.</p>

        <img src="assets/images/glasses-1246611_640.jpg" alt="">

        <p>We meet once a month to discuss a book by a Christian author. <br> Our discussions are based on biblical principles.</p>
      </div>
    </div>
  </div>
</section>

<section id="what-we-are-reading">
  <div class="container">
    <div class="row">
      <div class="col-sm-4" id="book-title">
        <h5>What We Are Reading <br> <small>Book Discussion for the Month of January, 2023</small></h5>
        <h1>KNOW THE ENEMY <br>
          <small>Revealing Truths About Satan</small> </h1>
        <p class="lead">By Greg Dutcher</p>
      </div>
      <div class="col-sm-4" id="book-image">
        <img class="" src="assets/images/book-of-the-month/know-the-enemy-jan-2023.jfif" alt="Know the Enemy">
      </div>
      <div class="col-sm-4" id="book-synopsis">
        <p class="lead">
          Winning takes strategy. Strategy requires knowing your opponent.
        </p>
        <p>
          So how do you fight an enemy when you don’t know who they are? Or worse, when you think the enemy is someone they are not? Books and movies have filled our minds
          with a devil who is out to get us and powerful enough that nothing can stop him. But is Hollywood right?
        </p>
      </div>
    </div>
  </div>
</section>

<section id="location">
  <div class="container text-center">
    <h3>OUR MEETINGS</h3>
    <div class="row">
      <div class="col-sm-3 offset-sm-2">
        <h2>LAGOS</h2>
        <p class="lead">
          Every 2nd Saturday <br>
          <small class="text-muted">3.00 PM - 5.00 PM</small>
        </p>
      </div>
      <div class="col-sm-3">
        <h2>NAIROBI</h2>
        <p class="lead">
          Every 2nd Saturday <br>
          <small class="text-muted">5.00 PM - 7.00 PM</small>
        </p>
      </div>
      <div class="col-sm-3">
        <h2>KIGALI</h2>
        <p class="lead">
          Every 2nd Saturday <br>
          <small class="text-muted">4.00 PM - 6.00 PM</small>
        </p>
      </div>
    </div>
  </div>
</section>


<section id="testimonials">
  <h3 class="text-center">WHAT OUR MEMBERS ARE SAYING</h3>

  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-2 offset-sm-3">
            <img class="d-block w-100" src="assets/images/members/dennis-balogun.jpeg" alt="Dennis Balogun">
          </div>
          <div class="col-lg-5">
            <blockquote class="blockquote">
              <p>&quot;PathFinder BookClub have set a discipline in me to digest healthy spiritual resource every month,
                setting my spirit aflame to reach out to my generation.&quot;</p>
              <footer class="blockquote-footer">Dennis Balogun | <cite title="Source Title">Lagos, Nigeria</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-2 offset-sm-3">
            <img class="d-block w-100" src="assets/images/members/tunde-ogunjimi.jfif" alt="Tunde Ogunimi">
          </div>
          <div class="col-sm-5">
            <blockquote class="blockquote">
              <p>&quot;I've always wished to have interactions with like-minded Christians.
                Pathfinder BookClub gave the forum to do just that.&quot;</p>
              <footer class="blockquote-footer">Tunde Ogunjimi<cite title="Source Title"> | Abeokuta, Nigeria</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
        <div class="col-sm-2 offset-sm-3">
          <img class="d-block w-100" src="assets/images/members/abisoye-abajo.jpeg" alt="Abisoye Abajo">
        </div>
        <div class="col-sm-5">
          <blockquote class="blockquote">
            <p>&quot;I joined the book club to start the habit of reading.   The book club has helped me a lot, I read more and I have more understanding about spiritual matters.&quot;</p>
            <footer class="blockquote-footer">Abisoye Abajo<cite title="Source Title"> | Abeokuta, Nigeria</cite></footer>
          </blockquote>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm-2 offset-sm-3">
            <img class="d-block w-100" src="assets/images/members/ada-jane.jpg" alt="Abisoye Abajo">
          </div>
          <div class="col-sm-5">
            <blockquote class="blockquote">
              <p>
                &quot;The Pathfinder Bookclub for me inspires you to sustain the reading culture especially in the midst of
                very busy schedules and a world full of distractions...It's very helpful when you have people of shared
                values synergise together for the common good of each member.&quot;
              </p>
              <footer class="blockquote-footer">AdaJane Oputa<cite title="Source Title"> | Lagos, Nigeria</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>
